@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('astrology.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100vw 100vh;
  font-family: "Lato", sans-serif;
  color: white;
}

/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  display: inline-block;
  padding: 2rem;
}
.banner-details {
  font-size: 2.2rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  font-weight: bold;
}
.banner-btn {
  padding: 1rem 3rem;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 20px;
}
.banner-btn-appt {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  background: whitesmoke;
  text-transform: uppercase;
  color: var(--mainBlack);
}


.img-credit {
  font-size: xx-small;
  color: transparent;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
  border: none;
  font-size: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.hero-services {
  min-height: calc(70vh - 10px);
}


@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}


.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  color: white;
  padding: 1rem;
  height: 12rem;
}

.orderfield-btn {
  padding: 0.7rem 3rem;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  text-align: center;
  color: white;
  border: 1px solid white;
  transition: var(--mainTransition);
  background: transparent;
}

input::placeholder {
  font-size: 0.8rem;
}

textarea::placeholder {
  font-size: 0.8rem;
}
