@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('astrology_light.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  /*
  background-image: url('astrology_light.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100vw 100vh;
  */
  font-family: "Lato", sans-serif;
  color: black;
}

/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  display: inline-block;
  padding: 2rem;
}
.banner-details {
  font-size: 1.8rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  font-weight: bold;
}
.banner-btn {
  padding: 1rem 3rem;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  background: transparent;
  color: black;
  border: 1px solid black;
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 20px;
}
.banner-btn-appt {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  background: whitesmoke;
  text-transform: uppercase;
  color: var(--mainBlack);
}


.img-credit {
  font-size: xx-small;
  color: transparent;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
  border: none;
  font-size: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.hero-services {
  min-height: calc(70vh - 10px);
}


@media (max-width: 450px) {
  .homeheader { height: 100px; }
}

@media (min-width:450px) and (max-width:600px) {
  .homeheader { height: 200px; }
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  .homeheader { height: 300px; }
}

.homeheader {
  background-image: url('astrology_light_home.png'); 
  background-repeat: no-repeat; 
  background-position: center center;  
  background-size: 100% 100%;
}


.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  color: black;
  padding: 1rem;
  height: 12rem;
}

.orderfield-btn {
  padding: 0.7rem 3rem;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  text-align: center;
  color: black;
  border: 1px solid white;
  transition: var(--mainTransition);
  background: transparent;
}

input::placeholder {
  font-size: 0.8rem;
}

textarea::placeholder {
  font-size: 0.8rem;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}



.overlayServices {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
}

.overlayServices-image {
  height: 200px;
  text-align: center;
}

.overlayServices-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.overlayServices-content {
  font-size: 1.1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

.overlayServices-appt {
  text-align: center;  
}

.overlay-content-services {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlayServices a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlayServices a:hover, .overlayServices a:focus {
  color: #f1f1f1;
}

.overlayServices .closebtnServices {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlayServices a {font-size: 20px}
  .overlayServices .closebtnServices {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
